
html{
    background-color: blanchedalmond;
    margin:0%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 200;
    
}
a{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: blueviolet;
}

#education, #references, #experience : hover {
    background-color: yellow;
}

body {
    background-color: darkorange);
    border-radius: 5;
    text-align: center;
    
}

#form{
    border-radius: 10px;
    border-color: brown;
    border-style: double;
}
.table {
    border-radius: 20px;
    border-color: brown;
    border-style: double;
    background-color: salmon;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav-bar{
    background-color: azure;
    text-emphasis-color: rgb(187, 10, 39);
    text-decoration-color: blueviolet;
    text-decoration: solid;
}
.nav-link {
text-decoration: dotted;
}
.header-img{
    background-color: bisque;
    border-radius: 5;

}
#ul{
    border-radius: 10px;
    border-color: wheat;
    border-style: dotted;
    background-color: tomato;
}
#education{
    border-radius: 10px;
    border-color: brown;
    border-style: dashed;
    background-color: lightseagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#references{
    border-radius: 10px;
    border-color: brown;
    border-style: double;
    background-color: lightsalmon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
#experience{
    border-radius: 10px;
    border-color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: groove;
    background-color: lightcoral;
}